body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

main, nav{
	position: relative;
	float: left;
	top: 0;
	left: auto;
	border: 1px solid black;
}

main div{
	margin: 5px;
}

.content h1 {
	background-color: #435165;
	color: white;
}

.content h1 a {
	text-decoration: none;
	color: white;
}

nav {
	width: 100px;
	flex: 0 1 auto;
}

main {
	flex: 1 1 auto;
}

#main {
	position: relative;
	display: flex;
	flex-flow: row;
	height: 100%;
}

.title {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
}

.content div {
	flex-grow: 1;
}