body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

header {
	display: flex;
	background-color: #435165;
	color: white;
	text-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
}



body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px calc(100% - 50px);
}

#one {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

#main {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;

	display: grid;
	grid-template-columns: 100px calc(100% - 100px);
	grid-template-rows: 100% 100%;
}

#two {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

#three {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

#three h1 {
	word-wrap: break-word;
	word-break: break-all;
}

#preview {
	width: 90%;
}
#preview img {
	width: 100%;
}