{% extends "layouts/main.njk" %}

{% set pageName="Organisations" %}

{% block header %}
{{ samlandHeader({
  assetsPath: "",
  homepageUrl: "/",
  serviceName: "",
  serviceUrl: "/"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="https://github.com/Samland-Gov/website/issues">feedback</a> will help us to improve it.'
}) }}
{{ govukBreadcrumbs({
    items: [
    {
        text: "Home",
        href: "/"
    },
    {
        text: "Organisations"
    }
]
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
    Organisations
</h1>

<nav role="navigation" aria-labelledby="subsection-title">
    <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
        <li>
            <a href="/government/organisations/department-for-digital">
                Department for Digital
            </a>
        </li>
    </ol>
</nav>

{% endblock %}
