@charset "utf-8";

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
}
pre {
	padding: 1.5em;
}
pre > code {
	all: unset;
}

@import "../../node_modules/bulma/bulma.sass";