{% extends "layouts/main.njk" %}

{% set pageName=meta["title"] %}


{% block header %}
{{ samlandHeader({
  assetsPath: "",
  homepageUrl: "/",
  serviceName: "",
  serviceUrl: "/"
}) }}
<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">{{meta["hero"]["title"]}}</h1>
        <div class="hero__inline-image">
          <img src="{{meta["hero"]["img"]}}" alt="" role="presentation">
        </div>
        <div>{{meta["hero"]["desc"] | safe}}</div>
      </div>
      <div class="hero__aside-image">
        <img src="{{meta["hero"]["img"]}}" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
  {{ html | safe }}
{% endblock %}
