---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<section class="hero is-primary is-medium">
		<div class="hero-body">
			<div class="columns">
				<div class="column">
					<p class="title">
                        404
                    </p>					
				</div>
				<div class="column">
					<p class="title">
                        Page not found.
					</p>
					<p class="subtitle">
                        The page you requested was not found. You may use the search to find the page
                        you wanted, or you may try again later.
					</p>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
