---
const today = new Date();
---

<footer role="contentinfo">
	<h2>Support links</h2>
	<ul>
		<li>
			<a href="#">
				Help
			</a>
		</li>
		<li>
			<a href="#">
				Cookies
			</a>
		</li>
		<li>
			<a href="#">
				Contact
			</a>
		</li>
		<li>
			<a href="#">
				Terms and conditions
			</a>
		</li>
	</ul>
	<div>
		<img
		aria-hidden="true"
		focusable="false"
		height="20%"
		width="20%"
		src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png"
		/>
		<span>
			All content is available under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a> unless stated otherwise.
		</span>
	</div>

	<div>
		<a>
			Copyright &copy; {today.getFullYear()} Samland Government. All rights reserved.
		</a>
	</div>
</footer>

