---
const today = new Date();
import flagImg from '../assets/images/flag.svg';
---

<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
		<div class="govuk-footer__meta">
			<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
			  	<h2 class="govuk-visually-hidden">Support links</h2>
			  	<ul class="govuk-footer__inline-list">
					<li class="govuk-footer__inline-list-item">
						<a class="govuk-footer__link" href="#">
							Help
						</a>
					</li>
					<li class="govuk-footer__inline-list-item">
						<a class="govuk-footer__link" href="#">
							Cookies
						</a>
					</li>
					<li class="govuk-footer__inline-list-item">
						<a class="govuk-footer__link" href="#">
							Contact
						</a>
					</li>
					<li class="govuk-footer__inline-list-item">
						<a class="govuk-footer__link" href="#">
							Terms and conditions
						</a>
					</li>
				</ul>
				<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
					<img
					aria-hidden="true"
					focusable="false"
					class="govuk-footer__licence-logo"
					height="10%"
					width="10%"
					src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png"
					/>
					<span class="govuk-footer__licence-description">
						All content is available under the <a class="govuk-footer__link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a> unless stated otherwise.
					</span>
				</div>
			</div>
			<div class="govuk-footer__meta-item">
				<div class="govuk-footer__link govuk-footer__copyright-logo"></div>
					<img 
						src={flagImg.src}
						height="10%"
						width="10%"
					>
					Copyright &copy; {today.getFullYear()} Samland Government. All rights reserved.
				</div>
			</div>
		</div>
    </div>
</footer>

