---
import { SITE_TITLE } from '../consts';
---

<header>
	<div>
		<a href="/">
			<img src="/images/flag.svg" height="25" role="presentation" alt="">

			{SITE_TITLE}
		</a>

		<a href="/blog">
			Blog
		</a>
	</div>
	<hr>
</header>
