---
import { SITE_TITLE } from '../consts';
import flagImg from '../assets/images/flag.svg';
---

<header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
		<div class="govuk-header__logo">
			<a href="/" class="govuk-header__link govuk-header__link--homepage">
				<span class="govuk-header__logotype">
					<img src={flagImg.src} class="govuk-header__logotype-crown" height="30" alt="">

					<span class="govuk-header__logotype-text">
						{SITE_TITLE}
					</span>
				</span>
			</a>
		</div>
		<div class="govuk-header__content">
			<!-- <a href="#" class="govuk-header__link govuk-header__service-name">
				Service name
			</a> -->
			<nav aria-label="Menu" class="govuk-header__navigation ">
				<button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
				<ul id="navigation" class="govuk-header__navigation-list">
					<li class="govuk-header__navigation-item govuk-header__navigation-item--active">
						<a class="govuk-header__link" href="/blog">
							Blog
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		.govuk-header__link,
		.govuk-header__menu-button,
		.govuk-header__logotype-text {
			color: black;
		}
		.govuk-header__logotype-crown {
			margin-right: 0.5em;
		}
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>