{% extends "layouts/main.njk" %}

{% set pageName="Home" %}

{% block header %}
{{ samlandHeader({
  assetsPath: "",
  homepageUrl: "/",
  serviceName: "",
  serviceUrl: "/"
}) }}
<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Welcome to Samland</h1>
        <div class="hero__inline-image">
          <img src="/public/images/flag.svg" alt="" role="presentation">
        </div>
        <p class="hero__description">The best place to find government services and information</p>
        <p class="hero__description"><strong>Simpler, clearer, faster</strong></p>
      </div>
      <div class="hero__aside-image">
        <img src="/public/images/flag.svg" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">
        What is Samland?
      </h2>
      <p class="govuk-body">
        Samland is a virtual micronation that has existed since 2017 and has a small online presence. 
      </p>
      <p class="govuk-body">
        While not much has happened in Samland, it holds a unique and interesting place in the world of online communities.
      </p>
      <p class="govuk-body">
        <a href="/government/what-is-samland" class="govuk-link">
          Read more
        </a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Support Us</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body">
        <img src="/public/images/monero.png">
      </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        We appreciate your support! You can donate to us using the Monero cryptocurrency.
      </p>
      <p class="govuk-body">
        Scan the QR code, or click <a href="monero:82W6d1rsEfRJEMi1SzUELBAt4eTk5s5c5hQRpLbfqtmx4KWbPkNebs72HcSV48p9eDErS4gUX6BSPAXiUM51t9tbSzDbRZ8" class="govuk-link">here</a>.
      </p>
      <p class="govuk-body" style="word-wrap: break-word;">
        You may send Monero directly to the following address:
        <code>82W6d1rsEfRJEMi1SzUELBAt4eTk5s5c5hQRpLbfqtmx4KWbPkNebs72HcSV48p9eDErS4gUX6BSPAXiUM51t9tbSzDbRZ8</code>
      </p>
      <p class="govuk-body">
        You are unable to get your payments back.
      </p>
    </div>
  </div>
</div>

{% endblock %}
