---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		{title ? 
			<BaseHead title={title + " - " + SITE_TITLE} description={description || SITE_DESCRIPTION} image={image}/> : 
			<BaseHead title={SITE_TITLE} description={description || SITE_DESCRIPTION} image={image}/>
		}
		<slot name="head"/>
	</head>
	<body>
		<Header title={SITE_TITLE}/>
		<slot name="afterHead"/>
		<div>
			<main id="main-content" role="main">
				<slot/>
			</main>
		</div>
		<Footer/>
	</body>
	<script is:inline>
		document.addEventListener('DOMContentLoaded', () => {

		// Get all "navbar-burger" elements
		const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		// Add a click event on each of them
		$navbarBurgers.forEach( el => {
			el.addEventListener('click', () => {
				// Get the target from the "data-target" attribute
				const target = el.dataset.target;
				const $target = document.getElementById(target);

				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				el.classList.toggle('is-active');
				$target.classList.toggle('is-active');
			});
		})});
	</script>
</html>
