---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		{title ? 
			<BaseHead title={title + " - " + SITE_TITLE} description={description || SITE_DESCRIPTION} image={image} /> : 
			<BaseHead title={SITE_TITLE} description={description || SITE_DESCRIPTION} image={image} />
		}
		<slot name="head" />
	</head>
	<body>
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
		<Header title={SITE_TITLE} />
		<main>
            <slot />
		</main>
		<Footer />
        <script>
            import { initAll } from 'govuk-frontend'
            initAll();
        </script>
	</body>
</html>
