---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		{title ? 
			<BaseHead title={title + " - " + SITE_TITLE} description={description || SITE_DESCRIPTION} image={image} /> : 
			<BaseHead title={SITE_TITLE} description={description || SITE_DESCRIPTION} image={image} />
		}
		<slot name="head" />
	</head>
	<body class="govuk-template__body">
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
		<Header title={SITE_TITLE} />
		<div class="govuk-width-container ">
			<div class="govuk-phase-banner">
				<p class="govuk-phase-banner__content">
					<strong class="govuk-tag govuk-phase-banner__content__tag">
						Alpha
					</strong>
					<span class="govuk-phase-banner__text">
						This is a new service – your <a class="govuk-link" href="https://github.com/Samland-Gov/website/issues">feedback</a> will help us to improve it.
					</span>
				</p>
			</div>
			<main class="govuk-main-wrapper" id="main-content" role="main">
				<slot />
			</main>
		</div>
		<Footer />
        <script>
            import { initAll } from 'govuk-frontend'
            initAll();
        </script>
	</body>
</html>
