{% extends "layouts/main.njk" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">
      What is Samland?
    </h2>
    <p>Samland is a newly founded virtual micronation that has had a small online presence since 2017 While not much has happened in Samland, it holds a unique and interesting place in the world of online communities.</p>
    <a href="/government/what-is-samland">
      Read more
    </a>
  </div>
</div>

{% endblock %}
